.container {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}
.menu {
  margin-top: 20px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}
.item {
  height: 30px;
  padding-left: 4px;
  padding-right: 4px;
}

a.item {
  text-decoration: none;
  color: blue;
}

a.item:hover {
  text-decoration: underline;
}
